### Rearrange the table where the first row is seen as the column name

<font color='gray'> 
*Kaynak: [Stackoverflow - move column names to first row in pandas frame](https://stackoverflow.com/questions/62951009/move-column-names-to-first-row-in-pandas-frame)*
</font>

#### Problem

We have a table that first row is shifted to column name. We want to add the correct column names and replace first row to right place.

**Dataset:**
[iris.csv](https://raw.githubusercontent.com/jbrownlee/Datasets/master/iris.csv)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("iris.csv")

#### Input

In [3]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

#### Function

In [4]:
def column_rename(df,column_list):
    df.loc[-1] = df.columns.values
    df = df.sort_index()
    df = df.reset_index(drop=True)
    df = df.rename({df.columns.values[0]:column_list[0], df.columns.values[1]:column_list[1], df.columns.values[2]:column_list[2], df.columns.values[3]:column_list[3], df.columns.values[4]:column_list[4]},
            axis=1)
    df.iloc[0][0:-1] = df.iloc[0][0:-1].apply(float)
    
    return df

In [5]:
column_list = ["SepalLengthCm", "SepalWidthCm", "PetalLengthCm", "PetalWidthCm", "Species"]
new_df = column_rename(df,column_list)

#### Output

In [6]:
new_df.head()

  SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9            3           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4             5          3.6           1.4          0.2  Iris-setosa

### <font color='blue'> Solving Process </font>

In [ ]:
import pandas as pd

In [1]:
iris = pd.read_csv("iris.csv")

In [2]:
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

**`iris.loc[-1] = iris.columns.values` ile sütundaki değerler aslında ilk satırıma ait değerlerdir diyorum.**

In [3]:
iris.loc[1]

5.1                    4.7
3.5                    3.2
1.4                    1.3
0.2                    0.2
Iris-setosa    Iris-setosa
Name: 1, dtype: object

In [4]:
iris.loc[-1] # böyle bir şey yok, bunu column olarak tanımlayacağım.

KeyError: -1

In [5]:
iris.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [6]:
iris.columns.values

array(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype=object)

In [7]:
iris.loc[-1] = iris.columns.values

In [8]:
iris.loc[-1] # artık hata vermiyor.

5.1                    5.1
3.5                    3.5
1.4                    1.4
0.2                    0.2
Iris-setosa    Iris-setosa
Name: -1, dtype: object

**`iris.sort_index(inplace=True)` ile yeniden indeks sıralaması yapıyorum.**

In [9]:
#iris.reset_index()

**`iris.reset_index(drop=True, inplace=True)` ile indeksleri yeniden 0'dan başlatıyorum.**

In [10]:
# iris.reset_index(drop=True)

In [11]:
iris.reset_index(drop=True, inplace=True)

**Sütun adlarını yeniden düzenliyorum.**

In [12]:
l = ["SepalLengthCm", "SepalWidthCm", "PetalLengthCm", "PetalWidthCm", "Species"]
iris.rename({iris.columns.values[0]: l[0], iris.columns.values[1]: l[1], iris.columns.values[2]: l[2], iris.columns.values[3]: l[3], iris.columns.values[4]: l[4]},
            axis=1,inplace=True)

In [13]:
iris.head()

  SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm      Species
0           4.9            3           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3             5          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

**Son Hali**

In [2]:
def column_rename(df,column_list):
    df.loc[-1] = df.columns.values
    df = df.sort_index()
    df = df.reset_index(drop=True)
    df = df.rename({df.columns.values[0]:column_list[0], df.columns.values[1]:column_list[1], df.columns.values[2]:column_list[2], df.columns.values[3]:column_list[3], df.columns.values[4]:column_list[4]},
            axis=1)
    df.iloc[0][0:-1] = df.iloc[0][0:-1].apply(float)
    
    return df

In [3]:
iris = pd.read_csv("iris.csv")
df = iris.copy()
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [4]:
column_list = ["SepalLengthCm", "SepalWidthCm", "PetalLengthCm", "PetalWidthCm", "Species"]
c_df = column_rename(df,column_list)

In [5]:
c_df.head()

  SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9            3           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4             5          3.6           1.4          0.2  Iris-setosa